.header{
    background-color: yellow;
    padding: 20px;
    color: white;
}
.footer{
    margin-top: 62%;
    text-align: center;
    
}
.note{
    box-shadow: 2px 2px 10px black;
    width: 190px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
}
.circle-img{
border-radius: 50%;
border: 7px solid white;
width: 120px;
height: 120px;
}